.Follow {
  margin: 0 17px;
  align-self: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  border-color: #03a87c;
  color: #03a87c;
  fill:  #03a87c;
  white-space: normal;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 13px;
  height: 20px;
  background: white;
}

.Follow:hover {
  border-color: #018d68;
  color: #018d68;
  fill:  #018d68;
  background-color: rgba(0,155,100,.3);
  transition-property: all;
  transition-duration: .3s;
}

.Unfollow {
  margin: 0 17px;
  align-self: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  border-color: #cc5454 ;
  color:  #cc5454 ;
  fill:  #cc5454 ;
  white-space: normal;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 13px;
  height: 20px;
  background: white;
}

.Unfollow:hover {
  border-color: #973434;
  color: #973434;
  fill:  #973434 ;
  background-color: rgba(228, 0, 0, 0.3);
  transition-property: all;
  transition-duration: .3s;
}